nav
{
    width: 100%;
    background-color: #563d7c;
    height: 45px;
    top: 0;
    right: 0;
    position: absolute;
}

i
{
    color: #ffffff;
    padding-right: 6px;
}

li
{
    color: #c5c1c1;
    display: inline-block;
    padding-left: 30px;
    text-align: center;
    padding-top: 11px;
}

li:hover
{
    cursor: pointer;
    color: #ffffff;
}

#about{
    float: right;
    margin-right: 60px;
}

#login{
    float: right;
    margin-right: 40px;
}

#header
{
    font-weight: 1000;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
}


.loginContainer
{
    position: absolute;
    top: 30%;
    right: 45%;
    width: 330px;
    border-right: 1px dotted;
}

.loginContainer input
{
    border: none;
    border-bottom: 1px solid;
}

.loginContainer button 
{
    background-color: transparent;
    border: none;
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    height: 38px;
}

.loginContainer button:hover
{
    cursor: pointer;
}


.featureContainer
{
    position: absolute;
    top: 31%;
    left: 57%;
    height: 190px;
    width: 400px;
}

.contentContainer
{
    position: relative;
    top: -11px;
}

.featureContainer .contentContainer h2
{
    margin: 0px;
}

.contentContainer p
{
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 7px;
}

.loginContainer button:hover
{
    background-color: #c5c1c1;
}

.myContainer
{
    position: absolute;
    top: 14%;
    width: 80%;
    left: 8%;
    height: 100%;
}

.leftcontainer
{
    position: relative;
    width: 50%;
    height: 40%;
}

.bottomcontainer
{
    width: 100%;
    height: 60%;
}

.buttonContainer
{
    padding-left: 30%;
}

.buttonContainer button
{
    background-color: #563d7c;
    border: none;
    border: 1px solid;
    border-radius: 19px;
    width: 50%;
    height: 48px;
    color: #fff;
}

.buttonContainer button:hover
{
    cursor: pointer;
    background-color: #fff;
    color: black;
}

.buttonContainer img
{
    width: 100%;
    padding-top: 11px;
    padding-left: 50px;
    border-radius: 30px;
}

.rightcontainer
{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 40%;
}

.rightcontainer img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.serviceContainer
{
    position: relative;
    top: 40px;
    left: 46px;
    width: 75%;
    height: 350px;
    top: 55px;
}

.serviceContainer p
{
    font-size: 20px;
    font-weight: 600;
}

.serviceBottom
{
    height: 100%;
    width: 50%;
    position: relative;
} 

.serviceBottom p
{
    font-weight: 100;
    font-family: arial;
}

.rightContainer1
{
    position: absolute;
    top: 15%;
    left: 70%;
    height: 100%;
    width: 42%;
    left: 80%;
}

.rightContainer1 img
{
    width: 100%;
    height: 100%;
    border-radius: 39px;
}

.about
{
    position: absolute;
    top: 12%;
    width: 100%;
}

.container .header h1
{
    padding-left: 444px;
}

.aboutus
{
    width: 80%;
    padding-left: 48px;
}

.carousel
{
    width: 50%;
    margin: auto;
}

.d-block
{
    border-radius: 28px;
    height: 326px;
}

.is_active
{
    color:#fff;
}

#toRegister a
{
    font-size: 12px;
}

#toRegister a:hover
{
    text-decoration: none;
}